[submodule "Libraries/Adafruit-ST7735-Library"]
	path = Libraries/Adafruit-ST7735-Library
	url = git://github.com/adafruit/Adafruit-ST7735-Library.git
[submodule "Libraries/Adafruit-GFX-Library"]
	path = Libraries/Adafruit-GFX-Library
	url = git://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "Libraries/Adafruit-SD"]
	path = Libraries/Adafruit-SD
	url = git://github.com/adafruit/SD.git
[submodule "Libraries/Adafruit-RTClib"]
	path = Libraries/Adafruit-RTClib
	url = git://github.com/adafruit/RTClib.git
[submodule "Schematic/Libraries/SparkFun"]
	path = Schematic/Libraries/SparkFun
	url = git://github.com/sparkfun/SparkFun-Eagle-Libraries.git
[submodule "Schematic/Libraries/Adafruit"]
	path = Schematic/Libraries/Adafruit
	url = git://github.com/adafruit/Adafruit-Eagle-Library.git
